build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Note: public/media/ is NOT ignored to allow media files to be deployed to Vercel
# public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
